@import "../base/colores";

/*--------------------------------------------------------------
  # Contacto
  --------------------------------------------------------------*/
  .footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }
  
  @media (min-width: 767px) {
    .contact-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .php-email-form .validate {
    display: none;
    color: $rojo;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #962c2e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: $rojo;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid $rojo;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    -moz-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .php-email-form input, .php-email-form textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
  }
  
  .php-email-form input::focus, .php-email-form textarea::focus {
    background-color: $rojo;
  }
  
  .php-email-form input {
    padding: 20px 15px;
  }
  
  .php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  
  .php-email-form button[type="submit"] {
    background: $rojo;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .php-email-form button[type="submit"]:hover {
    background: #66191a;
  }
  
  .php-email-form button[type="reset"] {
    background: $rojo;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .php-email-form button[type="reset"]:hover {
    background: #66191a;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }