/*--------------------------------------------------------------
  # NAV (BARRA DE NAVEGACIÓN)
  --------------------------------------------------------------*/

.navbar-b {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background-color: transparent;
	padding-top: 1.563rem;
	padding-bottom: 1.563rem;
	font-family: 'Oswald', sans-serif;
	.navbar-brand {
		color: #5eaf4e;
		font-size: 1.6rem;
		font-weight: 600;
	}
	.navbar-nav {
		.dropdown-item.show {
			.dropdown-menu {
				-webkit-transform: translate3d(0px, 0px, 0px);
				-moz-transform: translate3d(0px, 0px, 0px);
				-o-transform: translate3d(0px, 0px, 0px);
				-ms-transform: translate3d(0px, 0px, 0px);
				transform: translate3d(0px, 0px, 0px);
				visibility: visible !important;
			}
		}
	}
	.dropdown.show {
		.dropdown-menu {
			-webkit-transform: translate3d(0px, 0px, 0px);
			-moz-transform: translate3d(0px, 0px, 0px);
			-o-transform: translate3d(0px, 0px, 0px);
			-ms-transform: translate3d(0px, 0px, 0px);
			transform: translate3d(0px, 0px, 0px);
			visibility: visible !important;
		}
	}
	.dropdown-btn.show {
		.dropdown-menu {
			-webkit-transform: translate3d(0px, 0px, 0px);
			-moz-transform: translate3d(0px, 0px, 0px);
			-o-transform: translate3d(0px, 0px, 0px);
			-ms-transform: translate3d(0px, 0px, 0px);
			transform: translate3d(0px, 0px, 0px);
			visibility: visible !important;
		}
	}
	.dropdown-menu {
		margin: 1.12rem 0 0;
		border-radius: 0;
		.dropdown-item {
			padding: .7rem 1.7rem;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
			&:hover {
				background-color: #962c2e;
				color: #fff;
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}
		}
		.dropdown-item.active {
			background-color: #3ddf7b;
		}
	}
}
h1 {
	font-family: 'Oswald', sans-serif;
	color: #e4e4e4;
	font-size: 35px;
}
.title-left {
	font-family: 'Oswald', sans-serif;
	color: #e4e4e4;
	font-size: 35px;
}
.navbar-b.navbar-reduce {
	-webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #1f1f1f;
	padding-top: 15px;
	padding-bottom: 15px;
	.nav-item {
		position: relative;
		padding-right: 10px;
		padding-left: 0;
	}
	.nav-link {
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		color: #e4e4e4;
		&:before {
			content: '';
			position: absolute;
			margin-left: 0px;
			width: 0%;
			bottom: 0;
			left: 0;
			height: 2px;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 0.500ms ease;
			-o-transition: all 0.500ms ease;
			transition: all 500ms ease;
			background-color: #962c2e;
		}
		&:hover {
			color: #1b1b1b;
			color: #962c2e;
			&:before {
				width: 35px;
			}
		}
	}
	.show {
		>.nav-link {
			&:before {
				width: 35px;
			}
			color: #b33e40;
		}
	}
	.active {
		>.nav-link {
			&:before {
				width: 35px;
			}
			color: #b33e40;
		}
	}
	.nav-link.show {
		&:before {
			width: 35px;
		}
		color: #b33e40;
	}
	.nav-link.active {
		&:before {
			width: 35px;
		}
		color: #b33e40;
	}
	.navbar-brand {
		color: #962c2e;
	}
	.navbar-toggler {
		span {
			background-color: #962c2e;
		}
	}
}
.navbar-b.navbar-trans {
	.nav-item {
		position: relative;
		padding-right: 10px;
		padding-left: 0;
	}
	.nav-link {
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		&:before {
			content: '';
			position: absolute;
			margin-left: 0px;
			width: 0%;
			bottom: 0;
			left: 0;
			height: 2px;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 0.500ms ease;
			-o-transition: all 0.500ms ease;
			transition: all 500ms ease;
			background-color: #fff;
		}
		&:hover {
			color: #1b1b1b;
			color: #fff;
			&:before {
				width: 35px;
			}
		}
	}
	.show {
		>.nav-link {
			&:before {
				width: 35px;
			}
			color: #fff;
		}
	}
	.active {
		>.nav-link {
			&:before {
				width: 35px;
			}
			color: #fff;
		}
	}
	.nav-link.show {
		&:before {
			width: 35px;
		}
		color: #fff;
	}
	.nav-link.active {
		&:before {
			width: 35px;
		}
		color: #fff;
	}
}

  /* Navegación en móvil */


.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgb(75, 75, 75);
	background: rgba(78, 78, 78, 0.9);
	transition: 0.3s;
	z-index: 999;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		background-color: #fff;
		overflow-y: auto;
		transition: 0.3s;
	}
	>ul {
		>li {
			padding: 0;
		}
	}
	a {
		&:hover {
			&:before {
				visibility: hidden;
			}
			color: #0078ff;
		}
		padding: 10px 20px;
		font-size: 15px;
		color: #4e4e4e;
		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: #4e4e4e;
		}
	}
	li {
		&:hover {
			>a {
				&:before {
					visibility: hidden;
				}
				color: #0078ff;
			}
		}
	}
	.active {
		&:before {
			visibility: hidden;
		}
		color: #0078ff;
	}
	.getstarted {
		margin: 15px;
		&:focus {
			margin: 15px;
		}
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: #0078ff;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: #0078ff;
				}
			}
			.active {
				&:hover {
					color: #0078ff;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
}
@media (min-width: 768px) {
	.navbar-b.navbar-trans {
		.nav-item {
			padding-left: 10px;
		}
		.nav-link {
			&:before {
				margin-left: 18px;
			}
		}
	}
	.navbar-b.navbar-reduce {
		.nav-item {
			padding-left: 10px;
		}
		.nav-link {
			&:before {
				margin-left: 18px;
			}
		}
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
}
